@using ParadiseGuestHouse.Common
@{
    this.ViewData["Title"] = "Начална страница";
}
@model ParadiseGuestHouse.Web.ViewModels.Feedback.FeedbackViewModel

<link href="https://fonts.googleapis.com/css?family=Special+Elite|Cardo&display=swap" rel="stylesheet">

<script>
        var msg = '@TempData["InfoMessage"]';
            if (msg.length) {
            alert(msg);
        }
</script>

<div id="homeSection" class="container ">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://res.cloudinary.com/marian12/image/upload/v1585663132/ParadiseGuestHousePictures/homePageFirstSection_xiyw1w.jpg" />
        </div>
        <div class="col-lg-6">
            <h1>Услуги в хотела</h1>
            <p>
                Парадайс Хотел София разполага с 70 стаи, ресторант, 3 конферентни зали с безплатен високоскоростен интернет, лоби бар, СПА център за релакс и възстановяване, паркинг.
                Гостите на хотела могат да се възползват от:
                Безплатен безжичен интернет;
                Безплатна сауна,парна баня и джакузи, зона за релакс;
                Безплатно кафе, чай от мини бара в стаята.
                На разположение на гостите са: паркинг с 15 места; 24-часова рецепция; възможност за настаняване на хора с увреждания, обслужване по стаите, стая за съхранение на багаж, събуждане – при поискване, пране и гладене, химическо чистене, обмяна на валута, организиране на трансфери от и до Летище София, коли под наем, екскурзии, атракции и обиколки в София и страната.
            </p>
        </div>
    </div>
</div>

<div id="homeSection" class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>За ваша информация</h1>
            <p>
                Цените включват закуска, застраховка, ДДС, безплатен интернет, безплатно кафе, чай и сметана от минибара в стаята,
                безплатно ползване на сауна, парна баня, джакузи, зона за релакс.  Туристическата такса се начислява допълнително.
                Гостите на хотела се възползват от 10% отстъпка в ресторанта. Деца до 2 години (включително) нощуват безплатно.
                Деца от 3 до 12 години без допълнително легло нощуват безплатно. Деца от 3 до 12 години на допълнително легло се таксуват.
                Цени за групи – по запитване.
            </p>

            <ul class="navbar-nav ml-auto text-right m-3">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="Room" asp-action="All">Видове стаи</a>
                </li>
            </ul>

        </div>

        <div class="col-lg-6">
            <img src="https://res.cloudinary.com/marian12/image/upload/v1585666528/ParadiseGuestHousePictures/singleRoomView1_rjm2cw.jpg" width="600" />
        </div>

    </div>
</div>

<div id="homeSection" class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="https://res.cloudinary.com/marian12/image/upload/v1585666528/ParadiseGuestHousePictures/thirdSectionHome_jzoity.jpg" width="600" />
        </div>
        <div class="col-lg-6">
            <h1>Конферентни зали</h1>
            <p>
                Парадайс Хотел София разполага с 3 конферентни зали с безплатен високоскоростен интернет и съвременно техническо оборудване. Всички зали са с дневна светлина.
            </p>

            <ul class="navbar-nav ml-auto text-left">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="ConferenceHall" asp-action="Index">Видове зали</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div id="homeSection" class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Ресторант</h1>
            <p>
                Централ Хотел София разполага с ресторант с капацитет от 130 места,
                който предлага разнообразни ястия и напитки, уютна атмосфера и стилна обстановка.
                Ресторантът е подходящ за организирането на сватби, рождени дни, абитуриентски балове,
                корпоративни събития, фирмени тържества, коктейли, бизнес срещи.
            </p>

            <ul class="navbar-nav ml-auto text-right m-3">
                <li class="nav-item active">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="Restaurant" asp-action="Index">Към ресторанта</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-6">
            <img src="https://res.cloudinary.com/marian12/image/upload/v1585666526/ParadiseGuestHousePictures/forthSectionHome_nu90gz.jpg" width="600" />
        </div>

    </div>
</div>

@if (Model.AllFeedbacks.Count() != 0)
{
    <div id="homeSectionFeedback" class="container">
        @foreach (var feedback in Model.AllFeedbacks)
        {
            if (feedback.IsApproved == false && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div id="feedbackRow" class="row">
                    <a href="#" class="pull-left">
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                        <strong class="text-break">@feedback.FirstName @feedback.LastName</strong>
                        <p>@feedback.Message</p>
                    </div>

                    <a class="btn btn-outline-success" asp-area="" asp-controller="Feedback" asp-action="ApproveFeedback" asp-route-feedbackId="@feedback.Id">V</a>
                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Feedback" asp-action="DeleteFeedback" asp-route-feedbackId="@feedback.Id">X</a>

                </div>
            }


            @if (feedback.IsApproved)
            {
                <div id="feedbackRow" class="row">
                    <a href="#" class="pull-left">
                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                        <strong class="text-break">@feedback.FirstName @feedback.LastName</strong>
                        <p>@feedback.Message</p>
                    </div>


                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="Feedback" asp-action="DeleteFeedback" asp-route-feedbackId="@feedback.Id">X</a>
                    }

                </div>
            }

        }

    </div>
}

else
{
    <div class="col-lg-12 text-center p-2">
        <h2>Няма отзиви за този момент!</h2>
    </div>
}