@using Microsoft.AspNetCore.Identity
@using ParadiseGuestHouse.Data.Models
@using ParadiseGuestHouse.Common
@{
    ViewData["Title"] = "Room";
}
@inject SignInManager<ApplicationUser> SignInManager
@model ParadiseGuestHouse.Web.ViewModels.RoomViewModels.RoomViewModel

<div>
    @foreach (var item in Model.AllRooms)
    {
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div id="singleRoom" class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Images/singleRoom.jpg" />
                    </div>
                    <div class="col-lg-6">
                        <h2>@item.RoomType</h2>
                        <h3>Цена: @item.Price лв.</h3>
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Room" asp-action="RoomDetails" asp-route-roomId="@item.Id">Повече информация</a>
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="Room" asp-action="DeleteRoom" asp-route-roomId="@item.Id">Изтрий</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="singleRoom" class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Images/singleRoom.jpg" />
                    </div>
                    <div class="col-lg-6">
                        <h2>@item.RoomType</h2>
                        <h3>Цена: @item.Price лв.</h3>
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Room" asp-action="SingleRoom" asp-route-roomId="@item.Id">Повече информация</a>

                    </div>
                </div>
            </div>
        }
    }
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-outline-dark" asp-area="" asp-controller="Room" asp-action="CreateRoom">Добави стая</a>
            </div>
        </div>
    }
</div>